
/*admin*/
.formBox{
	margin-top: 50px;
}
.marginTop10{
	margin-top: 10px;
}
.marginLeft10{
	margin-left: 10px;
}
.marginRight10{
	margin-right: 10px;
}
.marginBottom10{
	margin-bottom: 10px;
}

.marginTop15{
	margin-top: 15px;
}
.marginLeft15{
	margin-left: 15px;
}
.marginRight15{
	margin-right: 15px;
}
.marginBottom15{
	margin-bottom: 15px;
}

.marginTop20{
	margin-top: 20px;
}
.marginLeft20{
	margin-left: 20px;
}
.marginRight20{
	margin-right: 20px;
}
.marginBottom20{
	margin-bottom: 20px;
}

.paddingTop10{
	padding-top: 10px;
}
.paddingLeft10{
	padding-left: 10px;
}
.paddingRight10{
	padding-right: 10px;
}
.paddingBottom10{
	padding-bottom: 10px;
}

.paddingTop15{
	padding-top: 15px;
}
.paddingLeft15{
	padding-left: 15px;
}
.paddingRight15{
	padding-right: 15px;
}
.paddingBottom15{
	padding-bottom: 15px;
}

.paddingTop20{
	padding-top: 20px;
}
.paddingLeft20{
	padding-left: 20px;
}
.paddingRight20{
	padding-right: 20px;
}
.paddingBottom20{
	padding-bottom: 20px;
}

.marginTop50{
	margin-top: 50px;
}